<% if product.shulepov.present? %>
  <p>ID: <strong><%= best_in_place product, :shulepov_id, :as => :input %></strong><br>остаток: <%= product.shulepov&.quantity %><br>цена: <%= product.shulepov&.price %></p>
<% else %>
  <p>ID: <%= best_in_place product, :shulepov_id, :as => :input %></p>
<% end %>
