<% if product.saunaru.present? %>
  <p>ID: <strong><%= best_in_place product, :saunaru_id, :as => :input %></strong><br>остаток: <%= product.saunaru&.quantity %><br>цена: <%= product.saunaru&.price %></p>
<% else %>
  <p>ID: <%= best_in_place product, :saunaru_id, :as => :input %></p>
<% end %>
