<% if product.sawo.present? %>
  <p>ID: <strong><%= best_in_place product, :sawo_id, :as => :input %></strong><br>остаток: <%= product.sawo&.quantity %><br>цена: <%= product.sawo&.price %></p>
<% else %>
  <p>ID: <%= best_in_place product, :sawo_id, :as => :input %></p>
<% end %>
