<% if product.contact.present? %>
  <p>ID: <strong><%= best_in_place product, :contact_id, :as => :input %></strong><br>остаток: <%= product.contact&.quantity %><br>цена: <%= product.contact&.price %></p>
<!--  <p>Lit-kom: ID: <a href=/lit_koms?q%5Bid_eq%5D=<%#= product.lit_kom.id %>><%#= product.lit_kom.id %></a>, остаток: <%#= product.lit_kom.quantity %>, цена: <%#= product.lit_kom.price %></p>-->
<% else %>
  <p>ID: <%= best_in_place product, :contact_id, :as => :input %></p>
<% end %>
